IT-GROUP-C/Saatguttuetchen.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="saatguttuetchen">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tuete" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="gemueseart"/>
              <xs:element type="xs:string" name="saatgutyp"/>
              <xs:element type="xs:string" name="inhaltsmenge"/>
              <xs:element type="xs:string" name="marke"/>
              <xs:element type="xs:string" name="aussaatzeit"/>
              <xs:element type="xs:string" name="erntezeit"/>
              <xs:element type="xs:string" name="standort"/>
              <xs:element type="xs:string" name="beschreibung"/>
              <xs:element type="xs:decimal" name="kosten"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
